.contenedorInput{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.contador{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.task-List {
  min-height: 500px;  /*Para agregarle un minimo al cuadro*/
  border: 2px solid black;
  padding: 10px;
 
}
h1{
  text-align: center;
}
.contiene-tarea{
   display: flex;
   border:1px solid black;
   margin-top: 10px;
   border-radius: 10px;
}
